<script type="application/json" id="topic-files-json">
  <%= raw render(template: "topic_files/index.json") %>
</script>

<div class="drop_target">
  <div class="instructions">
    Clicking on an image below will insert the link into the editor
  </div>

  <div id="editor-files-mount"></div>
</div>
